In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
brooklyndf = pd.read_csv("\Resources\Data\brooklyn_sales.csv")
brooklyndf
# jclark: Made recommended changes to corrected CSV from Ryan.

C:\Users\Homer\AppData\Local\Temp\ipykernel_5872\212610442.py:1: DtypeWarning: Columns (40,41,43,45,46,47,86) have mixed types. Specify dtype option on import or set low_memory=False.
  brooklyndf = pd.read_csv("brooklyn_sales_map.csv")

,Unnamed: 0,borough,neighborhood,building_class_category,tax_class,block,lot,easement,building_class,address,...,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLA,PFIRM15_FL,Version,MAPPLUTO_F,SHAPE_Leng,SHAPE_Area
0,1,3,DOWNTOWN-METROTECH,28 COMMERCIAL CONDOS,4,140,1001,NaN,R5,330 JAY STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,3,DOWNTOWN-FULTON FERRY,29 COMMERCIAL GARAGES,4,54,1,NaN,G7,85 JAY STREET,...,NaN,3.000540e+09,12/06/2002,1.0,NaN,NaN,17V1.1,0.0,1559.889144,140131.577176
2,3,3,BROOKLYN HEIGHTS,21 OFFICE BUILDINGS,4,204,1,NaN,O6,29 COLUMBIA HEIGHTS,...,NaN,0.000000e+00,NaN,1.0,NaN,NaN,17V1.1,0.0,890.718521,34656.447240
3,4,3,MILL BASIN,22 STORE BUILDINGS,4,8470,55,NaN,K6,5120 AVENUE U,...,NaN,0.000000e+00,NaN,1.0,1.0,1.0,17V1.1,0.0,3729.786857,797554.847834
4,5,3,BROOKLYN HEIGHTS,26 OTHER HOTELS,4,230,1,NaN,H8,21 CLARK STREET,...,NaN,0.000000e+00,NaN,1.0,NaN,NaN,17V1.1,0.0,620.761169,21360.147631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390878,390879,3,WYCKOFF HEIGHTS,31 COMMERCIAL VACANT LAND,1,3337,19,NaN,C0,364 LINDEN STREET,...,NaN,0.000000e+00,NaN,1.0,NaN,NaN,17V1.1,0.0,244.422014,2501.088819
390879,390880,3,WYCKOFF HEIGHTS,31 COMMERCIAL VACANT LAND,1,3337,19,NaN,C0,364 LINDEN STREET,...,NaN,0.000000e+00,NaN,1.0,NaN,NaN,17V1.1,0.0,244.422014,2501.088819
390880,390881,3,WYCKOFF HEIGHTS,41 TAX CLASS 4 - OTHER,4,3280,50,NaN,Z9,383 HARMAN STREET,...,NaN,0.000000e+00,NaN,1.0,NaN,NaN,17V1.1,0.0,231.409296,2795.673780
390881,390882,3,3004,04 TAX CLASS 1 CONDOS,NaN,6886,1107,NaN,NaN,14 BAY 47TH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390882,390883,3,3004,04 TAX CLASS 1 CONDOS,NaN,6886,1109,NaN,NaN,14 BAY 47 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dfmill = brooklyndf.loc[brooklyndf["neighborhood"]== "MILL BASIN"]
dfmill

,Unnamed: 0,borough,neighborhood,building_class_category,tax_class,block,lot,easement,building_class,address,...,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLA,PFIRM15_FL,Version,MAPPLUTO_F,SHAPE_Leng,SHAPE_Area
3,4,3,MILL BASIN,22 STORE BUILDINGS,4,8470,55,NaN,K6,5120 AVENUE U,...,NaN,0.000000e+00,NaN,1.0,1.0,1.0,17V1.1,0.0,3729.786857,797554.847834
499,500,3,MILL BASIN,08 RENTALS - ELEVATOR APARTMENTS,2,8470,1018,NaN,D9,5905 STRICKLAND AVENUE,...,E-71,3.084701e+09,03/29/2002,1.0,1.0,1.0,17V1.1,0.0,1729.707667,80616.607672
2722,2723,3,MILL BASIN,01 ONE FAMILY HOMES,NaN,8470,1059,NaN,NaN,6097 STRICKLAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2723,2724,3,MILL BASIN,27 FACTORIES,NaN,8470,1054,NaN,NaN,6097 STRICKLAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5543,5544,3,MILL BASIN,36 OUTDOOR RECREATIONAL FACILITIES,4,8602,23,NaN,Q9,2657 EAST 66TH STREET,...,NaN,0.000000e+00,NaN,1.0,1.0,1.0,17V1.1,0.0,1088.231018,44529.653391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383214,383215,3,MILL BASIN,02 TWO FAMILY HOMES,1,8652,28,NaN,B1,2518 EAST 63 STREET,...,NaN,0.000000e+00,NaN,1.0,NaN,NaN,17V1.1,0.0,247.329562,2090.445463
383215,383216,3,MILL BASIN,02 TWO FAMILY HOMES,1,8654,4,NaN,B1,2435 MILL AVENUE,...,NaN,0.000000e+00,NaN,1.0,NaN,NaN,17V1.1,0.0,241.941180,2095.433191
383216,383217,3,MILL BASIN,03 THREE FAMILY HOMES,1,8466,64,NaN,C0,2119 E 65TH STREET,...,NaN,0.000000e+00,NaN,1.0,1.0,1.0,17V1.1,0.0,238.574194,1928.689155
383217,383218,3,MILL BASIN,03 THREE FAMILY HOMES,1,8638,23,NaN,C0,146 MAYFAIR DRIVE NORTH,...,NaN,0.000000e+00,NaN,1.0,NaN,1.0,17V1.1,0.0,234.897108,1976.873042
383218,383219,3,MILL BASIN,36 OUTDOOR RECREATIONAL FACILITIES,4,8616,40,NaN,Q9,109 WHITMAN DRIVE,...,NaN,0.000000e+00,NaN,1.0,1.0,1.0,17V1.1,0.0,218.915140,2535.409362

In [6]:
list(dfmill.columns)

['Unnamed: 0',
 'borough',
 'neighborhood',
 'building_class_category',
 'tax_class',
 'block',
 'lot',
 'easement',
 'building_class',
 'address',
 'apartment_number',
 'zip_code',
 'residential_units',
 'commercial_units',
 'total_units',
 'land_sqft',
 'gross_sqft',
 'year_built',
 'tax_class_at_sale',
 'building_class_at_sale',
 'sale_price',
 'sale_date',
 'year_of_sale',
 'Borough',
 'CD',
 'CT2010',
 'CB2010',
 'SchoolDist',
 'Council',
 'ZipCode',
 'FireComp',
 'PolicePrct',
 'HealthCent',
 'HealthArea',
 'SanitBoro',
 'SanitDistr',
 'SanitSub',
 'Address',
 'ZoneDist1',
 'ZoneDist2',
 'ZoneDist3',
 'ZoneDist4',
 'Overlay1',
 'Overlay2',
 'SPDist1',
 'SPDist2',
 'SPDist3',
 'LtdHeight',
 'SplitZone',
 'BldgClass',
 'LandUse',
 'Easements',
 'OwnerType',
 'OwnerName',
 'LotArea',
 'BldgArea',
 'ComArea',
 'ResArea',
 'OfficeArea',
 'RetailArea',
 'GarageArea',
 'StrgeArea',
 'FactryArea',
 'OtherArea',
 'AreaSource',
 'NumBldgs',
 'NumFloors',
 'UnitsRes',
 'UnitsTotal',
 'LotFront',
 'LotDepth',
 'BldgFront',
 'BldgDepth',
 'Ext',
 'ProxCode',
 'IrrLotCode',
 'LotType',
 'BsmtCode',
 'AssessLand',
 'AssessTot',
 'ExemptLand',
 'ExemptTot',
 'YearBuilt',
 'YearAlter1',
 'YearAlter2',
 'HistDist',
 'Landmark',
 'BuiltFAR',
 'ResidFAR',
 'CommFAR',
 'FacilFAR',
 'BoroCode',
 'BBL',
 'CondoNo',
 'Tract2010',
 'XCoord',
 'YCoord',
 'ZoneMap',
 'ZMCode',
 'Sanborn',
 'TaxMap',
 'EDesigNum',
 'APPBBL',
 'APPDate',
 'PLUTOMapID',
 'FIRM07_FLA',
 'PFIRM15_FL',
 'Version',
 'MAPPLUTO_F',
 'SHAPE_Leng',
 'SHAPE_Area']

In [7]:
dfmill = dfmill[['borough', 'neighborhood', 'building_class_category', 'block', 'lot', 'address', 'SHAPE_Leng', 'SHAPE_Area' ]]

In [8]:
dfmill

,borough,neighborhood,building_class_category,block,lot,address,SHAPE_Leng,SHAPE_Area
3,3,MILL BASIN,22 STORE BUILDINGS,8470,55,5120 AVENUE U,3729.786857,797554.847834
499,3,MILL BASIN,08 RENTALS - ELEVATOR APARTMENTS,8470,1018,5905 STRICKLAND AVENUE,1729.707667,80616.607672
2722,3,MILL BASIN,01 ONE FAMILY HOMES,8470,1059,6097 STRICKLAND AVENUE,NaN,NaN
2723,3,MILL BASIN,27 FACTORIES,8470,1054,6097 STRICKLAND AVENUE,NaN,NaN
5543,3,MILL BASIN,36 OUTDOOR RECREATIONAL FACILITIES,8602,23,2657 EAST 66TH STREET,1088.231018,44529.653391
...,...,...,...,...,...,...,...,...
383214,3,MILL BASIN,02 TWO FAMILY HOMES,8652,28,2518 EAST 63 STREET,247.329562,2090.445463
383215,3,MILL BASIN,02 TWO FAMILY HOMES,8654,4,2435 MILL AVENUE,241.941180,2095.433191
383216,3,MILL BASIN,03 THREE FAMILY HOMES,8466,64,2119 E 65TH STREET,238.574194,1928.689155
383217,3,MILL BASIN,03 THREE FAMILY HOMES,8638,23,146 MAYFAIR DRIVE NORTH,234.897108,1976.873042
383218,3,MILL BASIN,36 OUTDOOR RECREATIONAL FACILITIES,8616,40,109 WHITMAN DRIVE,218.915140,2535.409362

In [9]:
dfmill = dfmill.fillna('')

In [10]:
dfmill

,borough,neighborhood,building_class_category,block,lot,address,SHAPE_Leng,SHAPE_Area
3,3,MILL BASIN,22 STORE BUILDINGS,8470,55,5120 AVENUE U,3729.786857,797554.847834
499,3,MILL BASIN,08 RENTALS - ELEVATOR APARTMENTS,8470,1018,5905 STRICKLAND AVENUE,1729.707667,80616.607672
2722,3,MILL BASIN,01 ONE FAMILY HOMES,8470,1059,6097 STRICKLAND AVENUE,,
2723,3,MILL BASIN,27 FACTORIES,8470,1054,6097 STRICKLAND AVENUE,,
5543,3,MILL BASIN,36 OUTDOOR RECREATIONAL FACILITIES,8602,23,2657 EAST 66TH STREET,1088.231018,44529.653391
...,...,...,...,...,...,...,...,...
383214,3,MILL BASIN,02 TWO FAMILY HOMES,8652,28,2518 EAST 63 STREET,247.329562,2090.445463
383215,3,MILL BASIN,02 TWO FAMILY HOMES,8654,4,2435 MILL AVENUE,241.94118,2095.433191
383216,3,MILL BASIN,03 THREE FAMILY HOMES,8466,64,2119 E 65TH STREET,238.574194,1928.689155
383217,3,MILL BASIN,03 THREE FAMILY HOMES,8638,23,146 MAYFAIR DRIVE NORTH,234.897108,1976.873042
383218,3,MILL BASIN,36 OUTDOOR RECREATIONAL FACILITIES,8616,40,109 WHITMAN DRIVE,218.91514,2535.409362