In [1]:
import pandas as pd
import Helper as hp

In [2]:
# Example usage
df = pd.read_csv("C:/Users/Ryan Satterfield/Documents/GitHub/FinalProject/Resources/Data/BrooklynHomesPostgres.csv")
#df = df[df['neighborhood'] == 'BOREM HILL']
df = hp.remove_outliers(df, "sale_price", threshold=2)
df

C:\Users\Ryan Satterfield\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3398: DtypeWarning: Columns (8,34,36,69) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,borough,neighborhood,building_class_category,block,lot,building_class,address,apartment_number,zip_code,...,BldgFront,BldgDepth,Ext,AssessLand,AssessTot,ExemptLand,ExemptTot,YearBuilt,HistDist,Landmark
2768,9968,3,PARK SLOPE,03 THREE FAMILY HOMES,970,36,C0,364 1 STREET,NaN,11215,...,18.00,45.0,NaN,11677.0,33146.0,1550.0,1550.0,1901.0,NaN,NaN
2769,9969,3,BROOKLYN HEIGHTS,02 TWO FAMILY HOMES,274,3,S2,115 ATLANTIC AVENUE,NaN,11201,...,21.00,78.0,NaN,26419.0,86305.0,0.0,0.0,1910.0,Brooklyn Heights Historic District,NaN
2770,9972,3,CLINTON HILL,02 TWO FAMILY HOMES,1904,5,B3,223 WASHINGTON AVENUE,NaN,11205,...,21.00,40.0,NaN,5722.0,24661.0,1550.0,1550.0,1901.0,NaN,NaN
2771,9973,3,BOROUGH PARK,01 ONE FAMILY HOMES,5434,59,A1,1665 46TH STREET,NaN,11204,...,20.50,40.0,EG,12996.0,34395.0,12996.0,18858.0,1920.0,NaN,NaN
2772,9974,3,CARROLL GARDENS,03 THREE FAMILY HOMES,408,36,C0,60 BUTLER STREET,2.0,11231,...,25.00,38.0,NaN,4184.0,22780.0,0.0,0.0,1910.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78678,166392,3,EAST NEW YORK,01 ONE FAMILY HOMES,4009,31,A5,310 VAN SICLEN AVE,NaN,11207,...,16.33,50.0,E,3983.0,13888.0,0.0,0.0,1901.0,NaN,NaN
78679,166393,3,EAST NEW YORK,02 TWO FAMILY HOMES,3979,1,B2,309 HENDRIX,NaN,11207,...,18.75,30.0,E,2383.0,6148.0,0.0,0.0,1910.0,NaN,NaN
78680,166394,3,EAST NEW YORK,03 THREE FAMILY HOMES,3688,30,C0,198 VERMONT STREET,NaN,11207,...,16.67,38.0,NaN,3793.0,9852.0,0.0,0.0,1910.0,NaN,NaN
78681,166395,3,FLATBUSH-EAST,02 TWO FAMILY HOMES,4953,50,B2,3601 AVENUE D,NaN,11203,...,16.00,40.0,G,10775.0,22248.0,1550.0,1550.0,1925.0,NaN,NaN
78682,166403,3,SUNSET PARK,03 THREE FAMILY HOMES,708,51,C0,353 40TH STREET,NaN,11232,...,20.00,35.0,NaN,4023.0,18810.0,0.0,0.0,1899.0,NaN,NaN

In [3]:
df

,id,borough,neighborhood,building_class_category,block,lot,building_class,address,apartment_number,zip_code,...,BldgFront,BldgDepth,Ext,AssessLand,AssessTot,ExemptLand,ExemptTot,YearBuilt,HistDist,Landmark
2768,9968,3,PARK SLOPE,03 THREE FAMILY HOMES,970,36,C0,364 1 STREET,NaN,11215,...,18.00,45.0,NaN,11677.0,33146.0,1550.0,1550.0,1901.0,NaN,NaN
2769,9969,3,BROOKLYN HEIGHTS,02 TWO FAMILY HOMES,274,3,S2,115 ATLANTIC AVENUE,NaN,11201,...,21.00,78.0,NaN,26419.0,86305.0,0.0,0.0,1910.0,Brooklyn Heights Historic District,NaN
2770,9972,3,CLINTON HILL,02 TWO FAMILY HOMES,1904,5,B3,223 WASHINGTON AVENUE,NaN,11205,...,21.00,40.0,NaN,5722.0,24661.0,1550.0,1550.0,1901.0,NaN,NaN
2771,9973,3,BOROUGH PARK,01 ONE FAMILY HOMES,5434,59,A1,1665 46TH STREET,NaN,11204,...,20.50,40.0,EG,12996.0,34395.0,12996.0,18858.0,1920.0,NaN,NaN
2772,9974,3,CARROLL GARDENS,03 THREE FAMILY HOMES,408,36,C0,60 BUTLER STREET,2.0,11231,...,25.00,38.0,NaN,4184.0,22780.0,0.0,0.0,1910.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78678,166392,3,EAST NEW YORK,01 ONE FAMILY HOMES,4009,31,A5,310 VAN SICLEN AVE,NaN,11207,...,16.33,50.0,E,3983.0,13888.0,0.0,0.0,1901.0,NaN,NaN
78679,166393,3,EAST NEW YORK,02 TWO FAMILY HOMES,3979,1,B2,309 HENDRIX,NaN,11207,...,18.75,30.0,E,2383.0,6148.0,0.0,0.0,1910.0,NaN,NaN
78680,166394,3,EAST NEW YORK,03 THREE FAMILY HOMES,3688,30,C0,198 VERMONT STREET,NaN,11207,...,16.67,38.0,NaN,3793.0,9852.0,0.0,0.0,1910.0,NaN,NaN
78681,166395,3,FLATBUSH-EAST,02 TWO FAMILY HOMES,4953,50,B2,3601 AVENUE D,NaN,11203,...,16.00,40.0,G,10775.0,22248.0,1550.0,1550.0,1925.0,NaN,NaN
78682,166403,3,SUNSET PARK,03 THREE FAMILY HOMES,708,51,C0,353 40TH STREET,NaN,11232,...,20.00,35.0,NaN,4023.0,18810.0,0.0,0.0,1899.0,NaN,NaN